{% extends 'layout.html' %} 

{% block main %}

<ol class="am-breadcrumb">
  <li><a href="/admin" class="am-icon-home">首页</a></li>
  <li><a href="/admin/content">内容列表</a></li>
  <li class="am-active">内容修改</li>
</ol>
<p class="am-text-xl">内容修改 - {{content.title}}</p>

<form class="am-form" method="post">
  <fieldset>
    <!-- <legend>表单标题</legend> -->

     <div class="am-form-group">
      <label for="category">下拉多选框</label>
      <select id="category" name="category">
        
        {% for category in categories %}
        <!-- 默认选择当前内容所属分类 -->
          {% if content.category.id === category.id %}
          <option value="{{category.id}}" selected>{{category.name}}</option>
          {% else %}
          <option value="{{category.id}}">{{category.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <span class="am-form-caret"></span>
    </div> 

    <div class="am-form-group">
      <label for="title">标题：</label>
      <input type="text" id="title" value="{{content.title}}" placeholder="输入标题" name="title">
    </div>
    <div class="am-form-group">
      <label for="desc">简介：</label>
      <textarea id="desc" tex placeholder="输入简介" name="desc">{{content.desc}}</textarea>
    </div>
    <div class="am-form-group">
      <label for="content">内容：</label>
      <textarea id="content" rows="10" placeholder="输入内容" name="content">{{content.content}}</textarea>
    </div>
    <p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
  </fieldset>
</form>

{% endblock %}